<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/art-piece.css">
</head>
<body class="p-0">
 
<nav class="flex flex-col bg-gray-300 m-0">
  <h1 class="m-4 text-black text-4xl">Renegade Art</h1>
  <ul id="navLinks" class="flex mb-2">
      <li class="nav-item">
        <a class="nav-link" href="/home">Browse</a>
      </li>
      {{#if activeUser}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">{{activeUser.username}} Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/signin">Login</a>
      </li>
      {{/if}}
  </ul>
</nav>


    {{!-- all views will be redered into the 'body' --}}
      {{{body}}}

    
</body>
</html>