<div class="w-100 flex flex-col justify-center items-center">
    <h1 class="m-2 text-3xl">Add to your gallery </h1>
    <div id="upload-art">
        <form class="flex flex-col justify-center">

            <div class="w-[80vw] min-h-[40vh] border flex justify-center items-center">
                <img id="uploadedImg">
            </div>
            
            <div class="my-2">
                <input id="fileButton" class="file:bg-sky-500 file:py-1 file:px-2 file:rounded file:text-white" type="file">
                <div id="spinner" class="spinner-border text-primary d-none" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>


            <input id="name" class="my-1 p-2 rounded" type="text" name="name" placeholder="Title...">
            <textarea id="description" class="my-1 p-2 rounded text-black"  placeholder="Description..."></textarea>
            <textarea id="add-art-keywords" class="my-1 p-2 rounded text-black"  placeholder="Keywords (seperated by spaces)..."></textarea>
            <button id="submitButton" class="my-1 p-2 bg-sky-500" > Submit</button>
        </form>
    </div>
</div>

<script src="/js/add-artpiece-script.js"></script>