<div>
    The main view for adding a peice of art to your gallery.
    <img>
    <form>
        <input id="file" type="file">
        <textarea id="description"> description here</textarea>
        <button> Submit</button>
    </form>
</div>

<script src="/js/add-artpeice-script.js"></script>