{{!-- The main view for displaying preview-cards of art peices of a certain user. --}}

<div>
  <h2 class="user-gallery-name">Viewing {{galleryOwner.username}}'s Gallery</h2>
  <section class="artpieces-container"></section>
    <section class="flex-row justify-center">
      {{#each artPieces as |artPiece|}}
          {{> art-preview-card artPiece}}
      {{/each}}
    </section>
  </section>
</div>

