{{!-- The main view for displaying preview-cards of art peices of a certain user. --}}

<section class="artpieces-container">
  <div class="user-gallery-name">{{galleryOwner.username}}</div>
  <section class="artpieces">
    <!-- For each artPiece that belongs to this User, the art-preview-card partial is used to render each artpiece's data -->
    {{#each artPieces as |artPiece|}}
    {{> art-preview-card}}
    {{/each}}
  </section>
</div>

