{{!-- The main view for displaying preview-cards of art peices of a certain user. --}}

<section class="artpieces-container">
  <h3 class="user-gallery-name">{{user.name}}</h3>
  <section class="artpieces">
    <!-- For each artPiece that belongs to this User, the art-preview-card partial is used to render each artpiece's data -->
    {{#each user.artPieces as |artPiece|}}
    {{> art-preview-card}}
    {{/each}}
  </section>
</section>
