{{!-- The main view when you come to the homepage, for displaying 9 ramdom preview-cards --}}
<section id="flex justify-center items-center w-full h-full">
    {{#each artPieces as |artPiece|}}

        {{> art-preview-card artPiece}}

    {{/each}}
</section>
