{{!-- The main view when you come to the homepage, for displaying 9 ramdom preview-cards --}}
<section id="artpieces-container">
    {{#each artPieces as |artPiece|}}

        {{> art-preview-card artPiece}}

    {{/each}}
</section>
