{{!-- The main view when you come to the homepage, for displaying 9 ramdom preview-cards --}}
<div>
    <h3 id="homeTitle">{{title}}</h3>
<section class="artpieces-container">
    {{#each artPieces as |artPiece|}}
        {{> art-preview-card artPiece}}
    {{/each}}
</section>
</div>

