<div class="d-flex mt-5 justify-content-center align-items-center">
    <div class="w-25 h-25 border">
        <form class="d-flex flex-column justify-content-around align-items-center m-5">
            <div>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <div class="mt-4">
                        <button id="signInButton"> Sign In</button>
                        or
                        <button id="signUpButton"> Sign Up</button>
            </div>

        </form>
    </div>
</div>
<script src="/js/signinpage.js"></script>