<div class="w-100 flex flex-col justify-center items-center">
    <h1 class="m-2 text-3xl">Let's make some changes.</h1>
    <div id="upload-art">
        <form class="flex flex-col justify-center">

            <div class="w-[80vw] min-h-[40vh] border flex justify-center items-center">
                <img src="{{artPiece.path}}">
            </div>


            <input id="name" class="my-1 p-2 rounded" type="text" name="name" placeholder="Title..." value="{{artPiece.name}}">
            <textarea id="description" class="my-1 p-2 rounded text-black"  placeholder="Description...">{{artPiece.description}}</textarea>
            <textarea id="add-art-keywords" class="my-1 p-2 rounded text-black"  placeholder="Keywords (seperated by spaces)...">{{keywords}}</textarea>
            <button id="submitButton" class="my-1 p-2 bg-sky-500">Submit Changes</button>
        </form>
    </div>
</div>

<script src="/js/add-artpiece-script.js"></script>