.art-piece {
    text-align: center;
}

.input-group {
    justify-content: center;
}

.image-info {
    display: flex;
    width: 63vw;
    margin: 0 auto;
    justify-content: space-between;
}

.image-info h3 {
    color:aliceblue;
    
}

.recent-comments {
    width: 63vw;
    margin: 10px auto;
    background: whitesmoke;
    border: 7px double var(--dark);
    border-radius: 10px;
  
}

.recent-comments ul {
    list-style:none;
    padding: 0 20px;
}

.recent-comments li {
    padding: 15px 0;
    border-bottom: 1.5px dashed black;
}
.art-description ul {
    list-style: none;
}

.art-description li {
    padding: 15px 0;
}

.art-description {
    width: 63vw;
    margin: 10px auto;
    background: whitesmoke;
    border: 7px double var(--dark);
    border-radius: 10px;
    color: black;
}

.art-piece-keyword {
    color:aliceblue;
}

.like-count-button  {
    padding: .375rem .75rem;
}

.artist-name-keyword {
    color:rgb(245, 245, 245);
    display: flex;
    width: 63vw;
    margin: 0 auto;
    justify-content: space-between;
}

.artist-name-keyword h3 {
    left:30px
}
.main-image {
    margin-left: 35vw;
    margin-top: 10vh;
    margin-bottom: 7vh;
}
.input-group-prepend-comment {
    width: 63vw;
    margin: 10px auto;
}

.input-group-text-comment {
    align-items: flex-end;
}

.recent-comments {
    color: black;
}

.recent-comments h6 {
    color: black;
}

.like-buttons {
    color:aliceblue;
    background-color: aqua;
}

.form-control {
    color: black;
}

.keword-input {

}

.description-input {
    
}